
<div class="dogs-grid-container">
  <div class="dogs-grid">
  
    <div *ngIf="(dogs$| async)?.length === 0">
      <span>Não tem dogs cadastrado</span>
    </div>
  
    <div class="dog-col" *ngIf="dogs$ | async; else loading">
      <ng-container *ngFor="let dog of dogs$ | async">
        <app-dogs-card
          [dogsInfo]="{
            name: dog.breeds[0]?.name || '',
            url: dog.url,
            lifeSpan: dog.breeds[0]?.life_span || ''
          }"
        ></app-dogs-card>
      </ng-container>
    </div>
  
    <ng-template class="loading" #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  
  </div>
  <mat-paginator
      *ngIf="renderPaginator"
      class="paginator"
      [length]="40"
      [pageSize]="8"
      [pageIndex]="pageIndex"
      (page)="onPageChange($event)"
      aria-label="Selecione a pagina">
  </mat-paginator>
</div>